@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/******************* reset *******************/


/******************* common *******************/
:root {
  --text-size: 16px;
  --noto-sans-jp: 'Noto Sans JP', sans-serif;
  --text-color: #645353;
  --border-color: #BAA;
  --main-color: #FFAFAC;
  --accent-color: #E5F3FF;
  --main-bg-color: #FFFDF9;
  --tasks-bg-color: #F8F4F2;;
}

body {
  margin: 0 auto;
  font-size: var(--text-size);
  font-family: var(--noto-sans-jp);
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

main {
  max-width: 1240px;
  margin: 0 auto;
  min-height: 80vh;
}

h2 {
  font-size: calc( 24 / var(--root-font-size) * 1rem ); /*24px*/
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
/******************* common *******************/


/******************* header *******************/
header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #E7D9D8;
  padding: 0 30px;
}

.header-right {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

.user-wrapper {
  margin: 0 auto;
}

.user-wrapper span {
  display: block;
  text-align: center;
}

/* ユーザーアイコンの大きさ */
.material-symbols-outlined {
  font-size: calc( 40 / var(--root-font-size) * 1rem ); /*45px*/
}

.user-wrapper div {
  font-size: calc( 20 / var(--root-font-size) * 1rem ); /*20px*/
  text-align: center;
}

footer {
  height: 50px;
  background-color: #E7D9D8;
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************* header *******************/


/******************* calendar *******************/
#cal-header {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: center;
}

#cal-header button {
  font-size: 1.5em;
  background: none;
  border:none;
  margin: 0 2em;
  padding: 0 1em;
  cursor: pointer;
}

#cal-header button:hover {
  background: #E7D9D8;
  border-radius: 0.3em;
}

#calendar table {
  border-collapse: collapse;
  margin: 0 auto;
}

#calendar table tbody {
  margin: 0 auto;
}
#day-of-week {
  background-color: var(--main-color);
}

#day-of-week th {
  border: 2px solid var(--border-color);
}

#week td {
  border: 2px solid var(--border-color);
  padding: 0.5vw 7vw 4vw 0.5vw;
}

#week td:first-child {
  color: red;
}

#week td:last-child {
  color: royalblue;
}
/******************* calendar *******************/


/******************* task-management *******************/
#task-management {
  width: 40vw;
  max-width: 500px;
  margin: 3rem;
}

#task-management h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#task-management h2 span {
  border-bottom: 5px solid var(--main-color);
}

.task-list {
  margin-bottom: .5rem;
  padding: .2rem .5rem;
  background-color: var(--tasks-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list input {
  margin-right: 0.3rem;
}

.checkbox {
  accent-color: var(--main-color);
}

/* ゴミ箱アイコン */
.delete-icon {
  font-size: calc( 16 / var(--root-font-size) * 1rem ); /*16px*/
  margin: 0 10px;
  cursor: pointer;
}

.add_task_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input_task {
  border: none;
  width: 100%;
  background-color: rgba(255, 255, 255, .6);
  outline: none;
  margin-left: 20px;
  color: var(--text-color);
}

.add_task_btn {
  width: calc( 20 / var(--root-font-size) * 1rem ); /*20px*/
  height: calc( 20 / var(--root-font-size) * 1rem ); /*20px*/;
  font-size: 12px;
  border-radius: 50%;
  border: var(--border-color);
  background-color: var(--main-color);
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
}
/******************* task-management *******************/